@page "/quote"
@inject IQuoteService QuoteService

<PageTitle>Daily Quote</PageTitle>

<div class="container mt-4">
    <h1>Inspirational Quotes</h1>
    
    <div class="card p-4 mb-4">
        <p class="fs-5 fst-italic">"@currentQuote"</p>
        <button class="btn btn-primary" @onclick="GetNewQuote">Get New Quote</button>
    </div>
</div>

@code {
    private string currentQuote = "";

    protected override void OnInitialized()
    {
        currentQuote = QuoteService.GetRandomQuote();
    }

    private void GetNewQuote()
    {
        currentQuote = QuoteService.GetRandomQuote();
    }
}